<style>
    .credential-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    .input-field {
        font-family: monospace;
        font-weight: 600;
        letter-spacing: 2px;
        height: 3rem;
        font-size: 1.1rem;
        background-color: #1e1e1e;
        transition: .3s ease-in-out;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        color: white;

        &::-webkit-input-placeholder {
            color: #333;
        }

        &:hover {
            background-color: #2d2d2d;
            cursor: pointer;

            &::-webkit-input-placeholder {
                color: #333;
            }
        }

        &:focus,
        &.open {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
            outline: 0;
            background-color: #2d2d2d;
            color: #ededed9b;

            &::-webkit-input-placeholder {
                color: #000;
            }
        }
    }

    .button-link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .login-button {
        font-family: monospace;
        font-weight: 600;
        letter-spacing: 2px;
        height: 3rem;
        font-size: 1.1rem;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 45%;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .login-button:hover {
        background-color: #38923c;
    }

    .forgot-password-container {
        text-align: right;
    }

    .forgot-password-link {
        position: relative;
    }

    @media (max-width: 767px) {
        .login-button {
            align-self: center;
        }
    }

    @media (min-width: 768px) {
        .login-button {
            bottom: 25px;
        }
    }
</style>

<div class="credential-container">
    <input id="email" class="input-field" type="text" placeholder="email">
    <input id="password" class="input-field" type="password" placeholder="password">
    <div class="button-link-container">
        <button class="login-button" onclick="validateCredentials()">Login</button>
        <div class="forgot-password-container">
            <a class="forgot-password-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Forgot password?</a>
        </div>
    </div>
</div>

<script>
    function validateCredentials() {
        console.log("Pressing");
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        // Dummy credentials for demonstration
        var dummyEmail = 'user@example.com';
        var dummyPassword = '123';

        // Check if entered credentials match dummy credentials
        if (email === dummyEmail && password === dummyPassword) {
            // Redirect to /feed
            window.location.href = '/main-feed';
        } else {
            // Replace with your logic for handling incorrect credentials
            alert('Incorrect email or password. Please try again.');
        }
    }

    document.getElementById('password').addEventListener('keyup', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            validateCredentials();
        }
    });
</script>