<style>
    .login-button {
        font-family: monospace;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 1.1rem;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        padding: 0.8rem;
        text-decoration: none;
        display: block;
        text-align: center;
        box-sizing: border-box;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        max-width: 300px;
        z-index: 1000;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .login-button:hover {
        background-color: #38923c;
    }
</style>

<a href="/contest" class="login-button">Enviar Solução</a>